.idea/**
target/**
*.iml
nohup.out
**/*.tgz
**/*.tar.gz
dev/lib/*
dev/docker/mlsql-sandbox/lib/*.jar
dev/docker/mlsql-sandbox/lib/*.tar.gz

mlsql
byzer-lang
console/
byzer-notebook/
.DS_Store
**/.DS_Store
dev/docker/engine/metastore_db/
dev/docker/engine/logs/
dev/bin/app/spark/**