.idea/**
target/**
*.iml
nohup.out
**/*.tgz
**/*.tar.gz
dev/docker/mlsql-sandbox/lib/*.jar
dev/docker/mlsql-sandbox/lib/*.tar.gz

mlsql/
console/

dev/docker/engine/metastore_db/
dev/docker/engine/logs/
dev/bin/app/spark/**