.idea/**
target/**
*.iml
nohup.out
**/*.tgz
**/*.tar.gz
dev/lib/*
dev/docker/byzer-sandbox/lib/*.jar
dev/docker/byzer-sandbox/lib/*.tar.gz

/kolo-lang/*
/byzer-lang/*
/mlsql/*
console/
/byzer-notebook/*
Byzer-Notebook-*/*
.DS_Store
**/.DS_Store
dev/docker/engine/metastore_db/
dev/docker/engine/logs/
dev/bin/app/spark/**

dev/k8s/byzer-python/miniconda.sh
dev/k8s/byzer-python/jdk8-linux

dev/k8s/notebook/byzer-notebook